In [25]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
df=pd.read_csv("/kaggle/input/insurance/insurance.csv")

In [26]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [27]:
df=pd.get_dummies(df,columns=['sex','smoker','region'],drop_first=True)

**drop_first=True kodu**
sex_female sütunu silindi. (Çünkü "male" 1 ise, otomatik olarak "female" 0 olur.)
smoker_no sütunu silindi. (Çünkü "smoker_yes" 1 ise, otomatik olarak "smoker_no" 0 olur.)
region_west sütunu silindi. (Çünkü diğer 3 bölgeden biri 1 değilse, otomatik olarak west'tir.)
**Bu sayede çoklu doğrusal bağımlılık sorunu çözülmüş olur ve gereksiz bir sütun eklenmez.**

**drop_first=false kodu**
female, male, no yes burada hepsi var. false yazmadan çalıştırırsanda bu sonucu verir.

In [28]:
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,False,True,False,False,True
1,18,33.77,1,1725.5523,True,False,False,True,False
2,28,33.00,3,4449.4620,True,False,False,True,False

In [29]:
y=df[['charges']]
x=df.drop('charges',axis=1)

**drop() fonksiyonu hem satır hem sütun silebilir.**
Eğer bir sütunu silmek istiyorsan axis=1 kullanmalısın.
Eğer bir satırı silmek istiyorsan axis=0 kullanmalısın.

In [30]:
lm=LinearRegression()
model=lm.fit(x,y)

**LinearRegression()** bir nesne oluşturur.
Bu nesne, y=aX + b şeklindeki doğrusal ilişkiyi öğrenmek için kullanılır.
Henüz veri ile eğitilmemiştir, sadece model oluşturulmuştur.

**fit(x, y)**, modelin X (bağımsız değişkenler) ile Y (bağımlı değişken) arasındaki ilişkileri öğrenmesini sağlar.
Model eğitilir.

In [31]:
model.score(x,y)

0.7509130345985207

In [32]:
yeni_veri = pd.DataFrame([[19,26,0,1,1,0,0,1]], columns=x.columns)

# Tahmin yap
tahmin = model.predict(yeni_veri)

print("Tahmin Sonucu:", tahmin)

Tahmin Sonucu: [[24517.93110714]]

In [33]:
df_error=pd.DataFrame()
df_error['y']=y
df_error

                y
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [34]:
y_tahmin=model.predict(x)

In [35]:
df_error['tahmin']=y_tahmin

In [36]:
df_error

                y        tahmin
0     16884.92400  25293.713028
1      1725.55230   3448.602834
2      4449.46200   6706.988491
3     21984.47061   3754.830163
4      3866.85520   5592.493386
...           ...           ...
1333  10600.54830  12351.323686
1334   2205.98080   3511.930809
1335   1629.83350   4149.132486
1336   2007.94500   1246.584939
1337  29141.36030  37085.623268

[1338 rows x 2 columns]

df_error['hata']=y-y_tahmin

In [37]:
df_error.head(10)

             y        tahmin
0  16884.92400  25293.713028
1   1725.55230   3448.602834
2   4449.46200   6706.988491
3  21984.47061   3754.830163
4   3866.85520   5592.493386
5   3756.62160   3719.825799
6   8240.58960  10659.961225
7   7281.50560   8047.910607
8   6406.41070   8502.973920
9  28923.13692  11884.637518

In [38]:
df_error['squared_error']=df_error['hata']**2

KeyError: 'hata'

**MSE:** min square error, hataların karelerinin ortalamasıdır. Bunu yapma sebebimiz negatif, pozitif olmasıdır. Sönümlemenin önüne geçmektir.

In [ ]:
df_error['abs_error']=np.abs(df_error['hata'])

**MAE:** abstrack error, mutlak değer demek.

In [ ]:
df_error['percent_error']=np.abs(y-y_tahmin/y)

**MAPE******

In [ ]:
df_error.mean()

**Şimdi tüm bu yaptıklarımızı daha kolay bir yolla yapacağız.**
yukarıya şunu ekliyoruz: **from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error**

In [39]:
mean_squared_error(y,y_tahmin)

36501893.00741544

In [40]:
mean_absolute_error(y,y_tahmin)

4170.886894163588

In [41]:
mean_absolute_percentage_error(y,y_tahmin)

0.42035268473727067

In [ ]:
# Dosya yolu bulma
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

#dosya yolu bulmak için bu kod kullanılabilir, sonra bu dosya yolunu csv 
# yi okumak için df = pd.read_csv("buraya") yazıyoruz.